#about .page-about {
  overflow: hidden;
}

#about .page-about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#about .page-about__top-row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#about .page-about__bottom-row {
  width: 100%;
  margin-top: 70px;
}

#about .page-about__text {
  padding: 1.5rem 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 110%;
  color: var(--textextra);
  -ms-hyphens: auto;
      hyphens: auto;
}

#about .top-row__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  position: relative;
  z-index: 2;
}

#about .top-row__img {
  display: none;
  max-width: 313px;
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 1.5rem;
  overflow: hidden;
}

#about .top-row__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#about .bottom-row__content {
  width: 100%;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 3rem;
}

#about .bottom-row__left-img {
  min-width: 180px;
  max-width: 330px;
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  overflow: visible;
  z-index: 1;
}

#about .bottom-row__left-img .left-img__corner-img {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(30%, -55%);
      -ms-transform: translate(30%, -55%);
          transform: translate(30%, -55%);
}

#about .bottom-row__left-img .left-img__main-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem;
}

#about .bottom-row__text-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

#about .bottom-row__logo {
  max-width: 160px;
  width: 100%;
  aspect-ratio: 234/187;
}

#about .bottom-row__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#about .bottom-row__right-img {
  min-width: 180px;
  max-width: 330px;
  width: 100%;
  margin-top: 0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
}

.no-webp #about .bottom-row__right-img::after {
  background: url("./../img/bouquet_3.png") center/contain no-repeat; }

#about .bottom-row__right-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 120px;
  -webkit-transform: translate(-40%, -50%);
      -ms-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
  z-index: 1;
}

#about .bottom-row__right-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem;
}

@media (min-width: 375px) {
  #about .page-about__top-row {
    width: 80%;
  }

  #about .page-about__bottom-row {
    margin-top: 50px;
  }
}

@media (min-width: 445px) {
  #about .bottom-row__left-img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  #about .bottom-row__left-img .left-img__corner-img {
    -webkit-transform: translate(50%, -55%);
        -ms-transform: translate(50%, -55%);
            transform: translate(50%, -55%);
  }

  #about .bottom-row__text-content {
    gap: 3rem;
  }

  #about .bottom-row__right-img {
    margin-inline: 40px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  #about .bottom-row__right-img::after {
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media (min-width: 500px) {
  #about .page-about__text {
    font-size: 1rem;
  }
}

@media (min-width: 640px) {
  #about .page-about__top-row {
    width: 100%;
    padding-bottom: 30px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  #about .page-about__bottom-row {
    margin-top: 70px;
  }

  #about .bottom-row__logo {
    width: 50%;
  }

  #about .bottom-row__right-img {
    max-width: 405px;
    margin-top: 50px;
    margin-inline: 0;
  }

  #about .bottom-row__right-img::after {
    width: 33.6%;
    height: 100%;
  }
}

@media (min-width: 769px) {
  #about .page-about__top-row {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  #about .page-about__bottom-row {
    margin-top: -300px;
  }

  #about .top-row__content {
    width: 90%;
  }

  #about .top-row__content {
    width: 62%;
  }

  #about .top-row__img {
    display: block;
  }

  #about .bottom-row__content {
    min-height: 600px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1.5rem;
  }

  #about .bottom-row__left-img {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
  }

  #about .bottom-row__right-img {
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    margin-top: 0;
  }
}

@media (min-width: 993px) {
  #about .bottom-row__logo {
    width: 61%;
  }
}

@media (min-width: 1100px) {
  #about .page-about__bottom-row {
    margin-top: -250px;
  }
}

@media (min-width: 1600px) {
  #about .page-about__bottom-row {
    margin-top: -150px;
  }

  #about .page-about__text {
    font-size: clamp(0.875rem, 0.9vw, 1.25rem);
  }

  #about .top-row__img {
    max-width: clamp(313px, 20vw, 400px);
  }

  #about .bottom-row__left-img {
    max-width: clamp(405px, 25.3vw, 500px);
  }

  #about .bottom-row__logo {
    max-width: clamp(234px, 15vw, 300px);
  }

  #about .bottom-row__right-img::after {
    width: 33.333%;
  }

  #about .bottom-row__right-img {
    max-width: clamp(405px, 25.3vw, 460px);
  }
}

.webp #about .bottom-row__right-img::after { background: url(./../img/bouquet_3.webp) center/contain no-repeat; }