#home .section-hero {
  width: 100%;
  aspect-ratio: 1440/670;
  background: var(--main);
  position: relative;
  overflow: visible;
  padding: 3rem 0;
  margin-bottom: 0;
}

#home .section-hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}

#home .section-hero__title {
  font-size: clamp(2.5rem, 8.8vw, 7.125rem);
  color: var(--white);
  line-height: 86%;
  margin-bottom: 2.5rem;
}

#home .section-hero__btn {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#home .section-hero__content {
  width: 100%;
  max-width: unset;
  position: relative;
  z-index: 3;
}

#home .section-hero__content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#home .section-hero__content-text {
  position: relative;
}

#home .section-hero__content-text .shape-image {
  margin-right: -20px;
  float: right;
  shape-outside: url("./../img/main-img_mob.png");
  shape-margin: 0.125rem;
  width: 70%;
  height: auto;
}

#home .section-hero__content .section-hero__paragraph {
  max-width: 100%;
  font-family: var(--second-family);
  font-size: clamp(0.875rem, 3.9vw, 1.25rem);
  font-weight: var(--fw-medium);
  color: rgba(255, 255, 255, 0.8);
  line-height: 150%;
  margin-bottom: 2rem;
}

#home .section-hero__bunner {
  display: none;
}

#home .section-hero__bunner img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1));
}

#home .section-about {
  margin: 2.8125rem 0;
  background: var(--bgmain);
  padding: 4.875rem 0;
  position: relative;
  overflow: hidden;
}

#home .section-about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  position: relative;
  z-index: 1;
}

#home .about-slogan {
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 120%;
  color: var(--white);
}

#home .about-slogan:last-child {
  margin-top: 1rem;
}

#home .justify-dt-end {
  justify-self: flex-start;
  width: 100%;
}

#home .about-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

#home .about-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home .about-item__term {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#home .about-item__term span {
  width: 100%;
  display: inline-block;
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 1rem;
  line-height: 110%;
  color: var(--white);
}

#home .about-item__desc {
  padding-left: 3rem;
  margin-top: 1rem;
}

#home .about-item__desc span {
  width: 100%;
  display: inline-block;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 124%;
  color: var(--white);
}

#home .section-about__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  margin-top: 1rem;
}

#home .section-about__images .section-about__image-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  border-radius: 1.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#home .section-about__images .section-about__image-wrapper img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

#home .section-about__images .section-about__image-wrapper img:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

#home .section-accordions {
  padding-bottom: 5.625rem;
}

#home .section-accordions__wrapper {
  margin-top: 2.5rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 4.6875rem;
}

#home .section-accordions__accordions {
  width: 100%;
}

#home .section-accordions__bunner {
  margin: 0 auto 0 3rem;
  max-width: 460px;
  width: calc(100% - 4rem);
}

#home .banner__img {
  width: 100%;
  height: 100%;
  position: relative;
}

#home .banner__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

#home .banner__img img:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

#home .banner__img::after {
  content: "";
  position: absolute;
  width: 52.278%;
  height: 67.84%;
  top: 0;
  left: 0;
  -webkit-transform: translate(-50%, -35%) rotate(-10deg);
      -ms-transform: translate(-50%, -35%) rotate(-10deg);
          transform: translate(-50%, -35%) rotate(-10deg);
  background: var(--bg-image) no-repeat center/contain;
  z-index: 2;
}

@media (min-width: 375px) {
  #home .about-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  #home .about-item__desc {
    padding-left: 0;
    margin-top: 0;
  }
}

@media (min-width: 445px) {
  #home .section-hero__content-text .shape-image {
    width: 70%;
  }
}

@media (min-width: 769px) {
  #home .section-hero {
    padding: 9rem 0 10rem 0;
    margin-bottom: 4.6875rem;
  }

  #home .section-hero__btn {
    width: 36%;
  }

  #home .section-hero__content {
    max-width: 69.5%;
  }

  #home .section-hero__content-text .shape-image {
    display: none;
  }

  #home .section-hero__content .section-hero__paragraph {
    max-width: 50%;
    font-size: 1rem;
  }

  #home .section-hero__bunner {
    display: block;
    position: absolute;
    top: 25%;
    right: 0;
    width: 86%;
    height: auto;
  }

  #home .section-about__container {
    gap: 3.5rem;
  }

  #home .about-slogan {
    font-size: clamp(2rem, 3.2258vw, 2.5rem);
  }

  #home .section-about__images {
    gap: 0.75rem;
  }

  #home .section-accordions__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1.5rem;
  }

  #home .section-accordions__accordions {
    width: 56.935%;
  }

  #home .section-accordions__bunner {
    margin: 0 0;
    width: 56.935%;
  }
}

@media (min-width: 993px) {
  #home .section-about__container {
    gap: 4rem;
  }

  #home .about-slogan {
    width: 70%;
  }

  #home .about-slogan:last-child {
    margin-top: 0;
  }

  #home .justify-dt-end {
    width: 60%;
    justify-self: flex-end;
  }

  #home .about-item__term {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  #home .about-item__term span {
    width: 60%;
    font-size: 1.25rem;
  }

  #home .about-item__desc span {
    width: 60%;
    font-size: 1rem;
  }
}

@media (min-width: 1115px) {
  #home .section-hero__bunner {
    width: 78.5%;
  }
}

@media (min-width: 1270px) {
  #home .section-hero__title {
    font-size: 7.125rem;
  }

  #home .section-hero__bunner {
    top: 0;
  }
}

@media (min-width: 1440px) {
  #home .section-about__container {
    gap: 4.875rem;
  }

  #home .about-slogan {
    width: 60%;
    font-size: 2.5rem;
  }

  #home .justify-dt-end {
    width: 53%;
  }
}

@media (min-width: 1600px) {
  #home .section-hero__title {
    font-size: clamp(7.125rem, 7.5vw, 8.125rem);
    margin-bottom: clamp(2.5rem, 3vw, 3.5rem);
  }

  #home .section-hero__content .section-hero__paragraph {
    font-size: clamp(1rem, 1vw, 1.25rem);
  }

  #home .section-about__container {
    gap: clamp(4.875rem, 4.875vw, 5.5rem);
  }

  #home .about-slogan {
    width: 70%;
  }

  #home .about-slogan {
    font-size: clamp(2.5rem, 2.5vw, 3rem);
  }

  #home .justify-dt-end {
    width: clamp(53%, 50vw, 57%);
  }

  #home .about-item__term span {
    font-size: clamp(1.25rem, 1.25vw, 1.5rem);
  }

  #home .about-item__desc span {
    font-size: clamp(1rem, 1vw, 1.25rem);
  }

  #home .section-about__images {
    gap: 1rem;
  }
}